@font-face {
  font-family: "Exo2";
  src: url("../../public/assets/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;  /* bütün aralıqları dəstəkləyir */
  font-style: normal;
  font-display: swap;
}