.color-primary-bg {
  color: #1a0b2e;
}
.color-primary-main {
  color: #2c0e45;
}

.color-secondary-dark {
  color: #4b1d60;
}
.color-secondary-accent {
  color: #6a2c91;
}

.color-highlight-bright {
  color: #8e44ad;
}
.color-highlight-neon {
  color: #bb86fc;
}
